

// card icon background color 
.color-01 { 
    background: linear-gradient( -99deg, rgb(255,173,111) 0%, rgb(255,125,144) 100%);
}
.color-02 { 
    background: linear-gradient( -87deg, rgb(0,222,216) 0%, rgb(0,167,213) 100%);
}
.color-02up { 
    background: linear-gradient( 1deg, rgb(0,167,213) 0%, rgb(0,222,216) 100%);
}
.color-03 { 
    background: linear-gradient( -90deg, rgb(201,104,255) 0%, rgb(97,104,243) 100%);
}

.color-04 { 
    background: linear-gradient( -90deg, rgb(251,158,217) 0%, rgb(252,122,182) 100%);
}
.color-05 { 
    background: linear-gradient( -90deg, rgb(246,211,101) 0%, rgb(253,160,133) 100%);
}
.color-06 { 
    background: linear-gradient( -87deg, rgb(115,135,253) 0%, rgb(46,90,221) 100%);
}
