// font
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');

// fonts
$base-font-size: 18px;
$base-font:'Roboto', sans-serif;
$heading-font: 'PT Serif', sans-serif;
$icon-size: 16px;

// color
$theme-font: #ff4a17;
$body-color: #0a272c;
$black-ash: #5d5d5d;
$content-color: #626b6c;
$content-color-01: #616161;
$content-color-02: #545454;
$white: #fff;
$off-white-01: #dddfe1;
$light-1: #0c0202;//
$light-2: #e2f3ff;//
$light-3: #e1e1e1;//
$cyan-2 : #f3f4f4;//
$cyan-3 : #cbcbcb;//
$cyan-4 : #f5f5f5;//
$black: #000;
$dark-gray: #080c0f;//
$small-black: #333;
$cyan: #bebebe;//

// bg color 
$secondary-bg: #0872b9;
$theme-bg-1 : #1a384c;
$theme-bg-2 : #14212b;
$theme-bg-3 : #18252f;
$body-bg-color: #fff;
$section-bg-color-s1:#0872b9;




  



























