
// ======== about-s3 section start ======\\
.about-s3 {
    padding: 0;
    margin-top: -150px;
    @media (max-width: 991px) {
        margin-top: -50px;
    }
    @media (max-width: 783px) {
        margin-top: 0px;
    }
    .about-s2-icon {
        h5 {
            color: $theme-bg-2;
        }
    }
    .about-img {
        @media (max-width: 768px) {
            text-align: center;
        }
    }
}
.vency-about-wrapper {
    padding: 57px 70px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 20px 35px 0px rgba(20, 33, 43, 0.05);
    position: relative;
    overflow: hidden;
    @media (max-width:1024px) {
        padding: 40px 50px;
    }
    @media (max-width: 783px) {
        padding: 40px 0;
    }
    @media (max-width: 768px) {
        padding: 40px 30px;
    }
    .vency-shape {
        position: absolute;
        right: -150px;
        bottom: -220px;
        @media (max-width: 1024px) {
            right: -200px;
            bottom: -270px;
        }
        @media (max-width: 830px) {
            right: -200px;
            bottom: -300px;
        }
        @media (max-width: 376px) {
            right: -200px;
            bottom: -350px;
        }
    }
}

// ======== about-s3 section end ======\\






// ========= service-style-03 category start ============\\

.single-service-s3 {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 35px 0px rgba(20, 33, 43, 0.1);
    display: flex;
    align-items: center;
    padding: 35px 45px;
    transition: all .3s ease;
    margin-bottom: 30px;
    @media (max-width: 1024px) {
       padding: 30px 25px;
    }
    &:hover {
        background: $theme-bg-2;
        h4 {
            color: $white;
        }
        p {
            color: #c6c6c6;
        }
    }
    .service-icon {
        margin-right: 35px;
        margin-bottom: 0;
        transition: all .3s ease;
        @media (max-width: 1024px) {
            height: 90px;
            width: 90px;
            line-height: 90px;
        }
        &:hover {
            background: $theme-font;
            i {
                color: $white;
            }
        }
        i {
            height: 120px;
            line-height: 120px;
            width: 120px;
            @media (max-width: 1024px) {
                height: 90px;
                width: 90px;
                line-height: 90px;
            }
        }
    }    
}
.service-details {
    h4 {
        font-size: 29px;
        font-weight: 700;
        color: $theme-bg-2;
        margin-bottom: 18px;
        transition: all .3s ease;
        @media (max-width: 1024px) {
            font-size: 22px;
        }
        @media (max-width: 425px) {
            font-size: 18px;
        }
    }
    p {
        font-size: 15px;
        line-height: 27px;
        color: $content-color-01;
        margin-bottom: 20px;
        transition: all .3s ease;
        @media (max-width: 1024px) {
            font-size: 13px;
            line-height: 22px;
        }
        @media (max-width: 425px) {
            font-size: 10px;
            line-height: 18px;
        }
    }
    .service-btn {
        background: $white;
        color: $theme-bg-2;
        font-weight: 500;
        border: 1px solid #e3e3e3;
        transition: .3s;
        &:hover{
            background: $theme-font;
            color: $white;
            border: 1px solid $theme-font;
        }
    }
}

// ========= service-style-03 category end ============\\






// ======= skill style-3 section start==========\\

.skill-s3 {
    background: $theme-bg-2;
    position: relative;
    .row {
        margin-top: -70px;
    }
    .about-right {
        position: relative;
        .skill-shape-01 {
            position: absolute;
            bottom: -120px;
            left: -25%;
            @media (max-width: 1540px) {
                left: -15%;
            }
            @media (max-width: 1399px) {
                display: none;
            }
        }
    }
    .about-content {
        padding-left: 70px;
        width: 80%;
        @media (max-width:768px) {
            padding-left: 40px;
            width: 100%;
        }
        h2 {
            color: $white;
        }
    }
    .skill-shape-02 {
        position: absolute;
        right: 0;
        top: 40px;
        @media (max-width:1399px) {
            display: none;
        }
    }
}
.skill-wrap-s3 {
    padding-right: 70px;
    @media (max-width: 768px) {
        padding: 0 40px;
    }
    .single-skill {
        .skill-name {
            h4 {
                color: $white;
            }
        }
    }
}

// ======= skill style-3 section end==========\\








// ============== team style-3 section start=================\\

.team-s3 {
    background: $cyan-4;
    position: relative;
    z-index: 1;
    .team-shape-01 {
        position: absolute;
        left: 0;
        bottom: -20px;
        z-index: -1;
    }
    .team-shape-02 {
        position: absolute;
        right: 0;
        top: -130px;
        z-index: -1;
        @media (max-width: 991px) {
            display: none;
        }
    }
}
.team-wrap-s3 {
    padding: 0;
    border-radius: 10px;
    transition: all .3s ease;
    &:hover {
        padding: 30px;
        border: 2px solid $theme-font;
        @media (max-width: 425px) {
            padding: 15px;
        }
    }
    .team-img {
        border-radius: 10px;
        border: none;
        img {
            border-radius: 10px;
        }
        .team-text {
            border-radius: 10px;
            p {
                color: $white;
            }
        }
    }
}

// ============== team style-3 section end=================\\




// -----========== counter s3 start =========------\\

.counter-s3  {
    padding-bottom: 75px;
    padding-top: 110px;
}
// -----========== counter s3 end =========------\\




// ===portfolio style-03 start ====\\

.portfolio-s3 {
    .owl-nav {
        text-align: end;
        position: absolute;
        top: -170px;
        right: 0;
        @media (max-width: 768px) {
            text-align: center;
            position: unset;
            margin-top: 30px;
        }
    }
    .portfolo-active-s3 {
        .active.center {
            .portfolio-img{
                background: $theme-bg-1;
            }
            .portfolio-content-s3 {
                visibility: visible;
                opacity: 1;
            }
        }
    }
}

.portfolio-wrap-s3 {
    .vency-portfolio {
        .portfolio-img {
            margin-bottom: 30px;
            padding: 50px 35px;
            background: $white;
            transition: all .3s ease;
            border-radius: 10px;
            @media (max-width:768px) {
                &:hover {
                    background: $theme-bg-2;
                }                
            }
            @media (max-width: 500px) {
                margin: 0 40px;
                margin-bottom: 30px;
            }
            @media (max-width: 400px) {
                margin: 0 25px;
                margin-bottom: 30px;
            }
            &::before{
                display: none;
            }
            img {
                height: 235px;
                @media (max-width: 991px) {
                    height: 200px;
                }
                @media (max-width: 800px) {
                    height: 190px;
                }
                @media (max-width: 600px) {
                    height: 180px;
                }
                @media (max-width: 500px) {
                    height: 220px;
                }
                @media (max-width: 375px) {
                    height: 200px;
                }
            }
        }
        .portfolio-content-s3{
            text-align: center;
            visibility: hidden;
            opacity: 0;
            transition: .3s;
            @media (max-width: 768px) {
                visibility: visible;
                opacity: 1;
            }
            a {
                h4 {
                    font-size: 28px;
                    color: $white;
                    margin-bottom: 12px;
                    @media (max-width: 991px) {
                        font-size: 22px;
                    }
                }
            }
            span {
                font-size: 13px;
                line-height: 30px;
                font-weight: 600;
                letter-spacing: 1.2px;
                color: $theme-font;
            }
        }
    }
}

// ===portfolio style-03 end ====\\






//===========testimoni style-3 start============\\

.testimoni-s3 {
    .owl-nav {
        text-align: center;
        margin-top: 40px;
        button {
            height: 60px;
            width: 60px;
            border-radius: 50%;
            border: 2px solid #dcdcdc;
            color: #dcdcdc;
            margin-right: 20px;
            background: transparent;
            transition: .3s;
            &:hover {
                color: $white;
                background: $theme-font;
                border: 2px solid $theme-font;
            }
        }
    }
    .owl-dots {
        display: none;
    }
}

.testimoni-s3-active {
    .active.center {
        .testimoni-s3-wrap {
            background: $theme-bg-2;
            h4 {
                color: $white;
            }
            p {
                color: #a5b0b9;
            }
        }
        .authore-name {
            h5 {
                color: $white;
            }
        } 
    }    
}
.testimoni-s3-wrap {
    padding: 35px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 35px 0px rgba(20, 33, 43, 0.1);
    transition: all .3s ease;
    margin-bottom: 30px;
    @media (max-width:991px) {
        padding: 45px;
    }
    @media (max-width: 800px) {
        padding: 30px;
    }
    @media (max-width: 621px) {
        padding: 20px;
    }
    h4 {
        font-size: 23px;
        line-height: 35px;
        color: $theme-bg-2;
        font-weight: 700;
        margin-bottom: 17px;
        transition: all .3s ease;
        @media (max-width: 1084px) {
            font-size: 21px;
        }
        @media (max-width:991px) {
            font-size: 23px;
        }
        @media (max-width: 800px) {
            font-size: 20px;
        }
        @media (max-width: 621px) {
            font-size: 18px;
            line-height: 25px;
        }
        @media (max-width: 500px) {
            font-size: 20px;
        }
    }
    p {
        font-size: 18px;
        line-height: 30px;
        color: $content-color-01;
        margin-bottom: 32px;
        transition: all .3s ease;
        @media (max-width: 1084px) {
            font-size: 17px;
        }
        @media (max-width:991px) {
            font-size: 18px;
        }
        @media (max-width: 800px) {
            font-size: 16px;
        }
        @media (max-width: 621px) {
            font-size: 15px;
            line-height: 25px;
        }
        @media (max-width: 500px) {
            font-size: 16px;
        }
    }   
}
.testimoni-authore {
    display: flex;
    align-items: center;
    .quotation {
        height: 75px;
        width: 75px;
        margin-right: 30px;
        @media (max-width: 1084px) {
            margin-right: 20px;
        }
        @media (max-width: 621px) {
            margin-right: 15px;
            height: 50px;
            width: 50px;
        }
        i {
            height: 75px;
            width: 75px;
            line-height: 75px;
            border-radius: 50%;
            color: $white;
            background: $theme-font;
            text-align: center;
            font-size: 25px;
            @media (max-width: 621px) {
                height: 50px;
                width: 50px;
                line-height: 50px;
                font-size: 20px;
            }
        }
    }
    .authore-name {
        h5 {
            font-size: 25px;
            color: $theme-bg-2;
            font-weight: 700;
            margin-bottom: 10px;
            transition: all .3s ease;
            @media (max-width: 1084px) {
                font-size: 20px;
            }
            @media (max-width:991px) {
                font-size: 25px;
            }
            @media (max-width: 800px) {
                font-size: 20px;
            }
            @media (max-width: 621px) {
                font-size: 17px;
                margin-bottom: 0;
            }
            @media (max-width: 500px) {
                font-size: 18px;
                margin-bottom: 5px;
            }
        }
        span {
            font-size: 15px;
            color: $theme-font;
            font-weight: 600;
            @media (max-width: 1084px) {
                font-size: 13px;
            }
            @media (max-width:991px) {
                font-size: 15px;
            }
            @media (max-width: 800px) {
                font-size: 13px;
            }
            @media (max-width: 621px) {
                font-size: 12px;
            }
            @media (max-width: 500px) {
                font-size: 13px;
            }
        }
    }
}



//===========testimoni style-3 end============\\




//==========subscriber s3 start =======\\\\

.subscriber-s3 {
    padding-top: 30px;
    padding-bottom: 120px;
}
.subscriber-wrap-s3 {
    background: $theme-font;
    position: relative;
    overflow: hidden;
    z-index: 1;
    .subscribe-shape01 {
        position: absolute;
        left: -34%;
        top: -25%;
        z-index: -1;
        @media (max-width: 1180px) {
            left: -45%;
        }
    }
    .subscribe-shape02 {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        margin: auto;
        z-index: -1;
        @media (max-width: 659px) {
            top: 70%;
        }
    }
    .subscribe-shape03 {
        position: absolute;
        z-index: -1;
        right: -15%;
        top: -25px;
        @media (max-width: 887px) {
            display: none;
        }
    }
    .subscribe-item {
        .subscribe-text {
            span {
                color: $theme-bg-2;
            }
            h2 {
                margin-top: -22px;
            }
        }
    }
    .subscribe-form {
        input {
            background: $white;
        }
        .subscribe-btn{
            background: $theme-bg-2;
        }
    }
}


//==========subscriber s3 end =======\\\\


//=========== blosg style 03 start =========\\



//=========== blosg style 03 end =========\\




























