
// service page start 

.all-services {
    .service-more-btn {
        padding: 21px 40px;
        margin-top: 50px;
    }
}

//-====== service page end ======-\\



// -============= service details page start ===============-\\


.details-content {
    h3 {
        font-size: 43px;
        line-height: 75px;
        font-weight: 700;
        color: $theme-bg-2;
        margin-top: 20px;
        margin-bottom: 11px;
    }
    p {
        font-size: 15px;
        line-height: 28px;
        color: $content-color-01;
        margin-bottom: 16px;
    }
    h6 {
        font-size: 19px;
        line-height: 32px;
        color: $theme-bg-2;
        font-weight: 700;        
    }
}


.single-option {
    padding: 35px 30px;
    background: $content-color-01;
    display: inline-block;
}













// -============= service details page end ===============-\\




